body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: navy;
  padding: 30px;
  justify-content: end;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
}
.navigation:hover a {
  color: aqua;
}

.bio {
  background-color: skyblue;
  padding: 25px;
  flex-wrap: wrap;
}

.desc {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bio h1 {
  font-size: 60px;
  color: aliceblue;
}

.desc img {
  max-width: 50%;
  height: auto;
}

.desc p {
  font-size: medium;
  color: aliceblue;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 30px;
}

h2 {
  font-size: 50px;
  color: aliceblue;
}

.cards h3 {
  font-size: 25px;
  color: rgb(94, 151, 201);
}

.cards p {
  color: rgb(81, 142, 196);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contennt {
  display: flex;
  flex-wrap: wrap;
}

.cards img {
  width: 450px;
  height: 400px;
}

.cards {
  width: 450px;
  text-align: center;
}


