body {
  margin: 0;
}

header {
  background-color: navy;
  padding: 30px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
}
.navigation:hover a {
  color: aqua;
}

.bio {
  background-color: skyblue;
  padding: 25px;
  flex-wrap: wrap;
}

.desc {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.desc img {
  max-width: 400px;
  height: auto;
}

