body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(0, 9, 63);
}

main {
  background-color: rgb(0, 9, 63);
  width: 1500px;
  margin: 0 auto;
  flex-wrap: wrap;
}

header {
  background-color: rgb(1, 0, 48);
  padding: 30px;
  display: flex;
}

header img {
  width: 3%;
  border-radius: 50px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
}

.navigation:hover a {
  color: aqua;
}

.bio {
  padding: 25px;
  flex-wrap: wrap;
  text-align: center;
}

.desc {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  border-top: 1.5px solid whitesmoke;
  padding: 90px;
  border-bottom: 1.5px solid whitesmoke;
}

.bio h1 {
  font-size: 60px;
  color: aliceblue;
  padding-bottom: 20px;
}

.desc img {
  max-width: 30%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}

.desc p {
  width: 500px;
  font-size: large;
  color: aliceblue;
  margin-bottom: 40px;
  margin-right: 100px;
  padding: 0 30px;
}

h2 {
  font-size: 50px;
  color: aliceblue;
  text-align: center;
  padding-bottom: 50px;
}

.cards h3 {
  font-size: 35px;
  color: aliceblue;
}

.cards p {
  color: aliceblue;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 60px;
}

.contennt {
  display: flex;
  flex-wrap: wrap;
}

.cards img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.cards {
  width: 450px;
  text-align: center;
  border: 2px solid white;
  border-radius: 6px;
}

footer {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  display: flex;
}

footer p {
  color: #ffffff;
  text-align: center;
}

.contact img {
  width: 50px;
  padding-bottom: 10px;
  margin: auto;
  border-radius: 10px;
}

.contact a {
  display: flex;
}

footer p:hover {
  color: aqua;
}
