body {
  margin: 0;
}

header {
  background-color: navy;
  padding: 30px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
}
.navigation:hover a {
  color: aqua;
}

.bio {
  background-color: aqua;
  padding: 25px;
}

